// WVU Masthead Logo
//==================================================

// Default Variables
$wvu-masthead-small-breakpoint: 'min-width: 38em' !default;
$wvu-masthead-logo-png-url: '//static.wvu.edu/global/images/logos/wvu/masthead/wvu-logo__300x44--1.0.0.png' !default;
$wvu-masthead-logo-svg-url: '//static.wvu.edu/global/images/logos/wvu/masthead/wvu-logo--1.0.0.svg' !default;

// WVU Logo - The logo is a svg with a png fallback. 
.wvu-masthead__logo {
  background: url($wvu-masthead-logo-png-url) no-repeat center center;
  background: url($wvu-masthead-logo-svg-url) no-repeat center center; 
  background-color: transparent;
  border: 0;
  float: left;  
  height: 35px;
  margin-top: 10px;
  overflow: hidden;
  text-indent: -9999px;
  width: 100%;
  
  @media (#{$wvu-masthead-small-breakpoint}) {
    width: 240px;
  }
}
